.button-primary.yahoo-auth {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-image: url(../images/yahoo.svg) !important;
    background-color: #5720b8 !important;
}

.button-primary.yahoo-auth:before {
    border-color: #431a9d !important;
}

.button-primary.yahoo-auth:hover {
    opacity: 0.9 !important;
}

.button-primary.outlook-auth {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-image: url(../images/outlook.svg) !important;
    background-color: #4872c1 !important;
}

.button-primary.outlook-auth:hover {
    opacity: 0.9 !important;
}

.button-primary.aol-auth {
    background-image: url(../images/aol.svg) !important;
}

.notification_email_board_desk {
    padding: 10px 0 15px;
    font-family: var(--type__body__standard--fontfamily);
    font-size: var(--type__body__standard--fontsize);
    font-weight: var(--type__body__standard--fontweight_strong);
    color: #474747;
}

.persistent-label_desk {
    transition: all 0.5s ease-in-out;
    min-height: 18.16px;
}

.email_desk:placeholder-shown ~ .persistent-label_desk {
    font-size: 6px;
    opacity: 0;
    z-index: -1;
    margin-left: -100px;
}

.email_desk:not(:placeholder-shown) ~ .persistent-label_desk {
    font-size: 16px;
    opacity: 1;
    z-index: 1;
}

#submit_button.activities i{
    display: none;
    margin-right: 10px;
}

#submit_button.activities{
    cursor: progress !important;
   /* background: #a6a6a6 !important;
    border-color: #cecece !important;*/
}

#submit_button:not(.activities) i{
display: none !important;
}